:root {
  --main-title-color: #b4ad9e;
  --main-text-color: #626262;
  --black-text-color: #000000;
  --second-blac-color: #333333;
  --accent-color: #f0f0f0;
  --primary-white-color: #ffffff;
  --maine-background-color: #f0f0f0;
  --avatar-color: #cae5e0;
  
  --animation-time: 250ms;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-delay: 0ms;

  --font-ubuntu:'Ubuntu';
  --font-playfair:"PlayfairDisplay";
  /*     
    // fonts
    $main-font-family: "Roboto", sans-serif;
    $secondary-font-family: "Raleway", sans-serif;
    $mainfont-style: normal;
    $main-font-weight: 400;
    $secondary-weight-bold: 700;
    $third-font-weight: 500;
    
    // breakpoints
    $mobile: 480px;
    $tablet: 768px;
    $desktop: 1200px; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input[type="text"] {
  font-family: inherit;
  /* 1 */
  font-size: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: var(--maine-text-color);
  background-color: var(--primary-white-color);
}

header{
  margin-top: 70px;
}

.header-container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 70px;
  padding-right: 70px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 150px;
  padding-right: 150px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section {
  padding-top: 100px;
  padding-bottom: 0px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  cursor: pointer;
}

/* .slider{
  max-width: 1062px;
  height: 509px;
} */
.hero-image-wrapper{
  width: 1060px;
  height: 510px;
}

.header-container{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.header-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.header-list-item{
  display: flex;
}

.header-logo{
    font-size: 30px;
    font-family: var(--font-playfair);
    color: var(--black-text-color);
    text-transform: uppercase;
    line-height: 0.8;
    text-align: center;
}

.header-logo:hover,
.header-logo:focus {
  color: var(--main-text-color);
  background-color: var(--accent-color);
  border: 1px solid var(--black-text-color);
}

.header-list-item:not(:first-child){
  margin-left: 100px;
}

.header-link {
  font-size: 14px;
  font-family: var(--font-playfair);
  color: var(--main-text-color);
  text-transform: uppercase;
  line-height: 1.714;
  text-align: center;
}

.header-link:hover,
.header-link:focus {
  color: var(--main-text-color);
  background-color: var(--accent-color);
}

.photodiary-title {
  font-size: 14px;
  font-family: var(--font-ubuntu);
  font-weight: 400;
  color: var(--main-title-color);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 20px;
}

.photodiary-under-title{
  font-family: var(--font-playfair);
  font-size: 30px;
  font-weight: 400;
  color: var(--main-text-color);
  line-height: 1.2;
  margin-bottom: 25px;
}

.photodiary-text{
  font-family: var(--font-playfair);
  color: var(--main-text-color);
  margin-bottom: 25px;
}

.photodiary-bottom-text{
  color: var(--main-title-color);
  text-transform: uppercase;
}


.articles-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 100px;
}

.articles-card-container{
  min-height: 300px;
}

.articles-photo{
  margin-bottom: 20px;
}

.articles-title{
  font-size: 14px;
  font-weight: 400;
  color: var(--main-title-color);
  text-transform: uppercase;
  margin-bottom: 25px;
}

.articles-under-title{
  font-family: var(--font-playfair);
  font-size: 30px;
  font-weight: 400;
  color: var(--main-text-color);
  margin-bottom: 25px;
}

.articles-text{
  font-family: var(--font-playfair);
  color: var(--main-text-color);
}

.signup{
  background-color: var(--accent-color);
  padding-bottom: 100px;
}

.signup-title {
  font-family: var(--font-playfair);
  font-size: 30px;
  font-weight: 300;
  color: var(--second-blac-color);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 70px;
}

.signup-form{
  font-family: var(--font-playfair);
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-input{
  font-family: var(--font-playfair);
  padding-bottom: 10px;
  border: none;
  width: 397px;
  border-bottom: 1px solid var(--second-blac-color);
  background-color: transparent;
  color: inherit;
  outline: none
  
}

.signup-lable{
  position: relative;
}

.checkbox__icon{
position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  width: 25px;
  height: 25px;
  fill: var(--main-text-color);
}

.stories-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 100px;
}

.stories-photo{
  margin-bottom: 20px;
}

.stories-title {
  font-family: var(--font-playfair);
  font-size: 14px;
  font-weight: 400;
  color: var(--main-title-color);
  text-transform: uppercase;
  margin-bottom: 25px;
}

.stories-under-title{
  font-family: var(--font-playfair);
  margin-bottom: 25px;
}

.stories-under-title{
  font-size: 30px;
  font-weight: 400;
  color: var(--main-text-color);
  line-height: 1.2;
  margin-bottom: 25px;
}
.stories-text{
  font-family: var(--font-playfair);
  color: var(--main-text-color);
}

.stories-button{
  font-family: var(--font-playfair);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 162px;
  height: 58px;
  border-width: 1px;
  border-color: rgb(98, 98, 98);
  border-style: solid;
  background-color: var(--primary-white-color);
  cursor: pointer;
  margin-bottom: 200px;
}

.stories-button:hover,
.stories-button:focus {
  background-color: var(--accent-color);
}

.stories-button-text{
  font-size: 20px;
  font-weight: 400;
  color: var(--main-text-color);
  line-height: 1.2;
}

.main-footer{
  font-family: var(--font-playfair);
  height: 100px;
  background-color: var(--accent-color);
  width: 100%;
  display: flex;
  align-items: center;
}


.footer-container{
  display: flex;
}

.policy-text{
  margin-left: 100px;
}

.policy-value{
  margin-left: 15px;
}

.follow-text{
  display: block;
  margin-right: auto;
}

.follow-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: 50px;
}

.follow-icons-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.follow-text{
  margin-right: 15px;
  display: block;
}

.follow-item{
  margin-right: 15px;
}

footer.follow-icon-footer{
  fill: var(--main-text-color);
}

.follow-icon:hover,
.follow-icon:focus {
  fill: var(--second-blac-color);
}


/* single page */

.singlepost-title {
  font-size: 14px;
  font-family: var(--font-ubuntu);
  font-weight: 400;
  color: var(--main-title-color);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 20px;
}

.singlepost-under-title {
  font-family: var(--font-playfair);
  font-size: 30px;
  font-weight: 400;
  color: var(--main-text-color);
  line-height: 1.2;
  margin-bottom: 25px;
}

.singlepost-text {
  font-family: var(--font-playfair);
  color: var(--main-text-color);
  margin-bottom: 25px;
}

.singlepost-paragraph{
  color: var(--main-text-color);
  margin-bottom: 25px;
}
.singlepost-bottom-text {
  font-family: var(--font-playfair);
  color: var(--main-text-color);
    margin-bottom: 50px;
}

.singlepost-photo{
  margin-bottom: 50px;
}


.singlepost-quote{
  font-family: var(--font-playfair);
  display: block;
  padding: 0px 20px;
  color: var(--main-text-color);
    margin-bottom: 25px;
}

.singlepost-wrapper{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-bottom: 70px;
}

.singlepost-social{
  display: flex;
}

.singlepost-wrapper-text{
  font-size: 14px;
  font-family: "Ubuntu";
  font-weight: 400;
  color: var(--main-title-color);
  text-transform: uppercase;
  line-height: 1.2;
}

.follow-icon{
  fill: var(--main-title-color);
}


.singlepost-social-item{
  margin-left: 15px;
}

.maybe-like{
  background-color: var(--accent-color);
  padding-bottom: 140px;
}

.maybe-like-title{
  font-size: 14px;
  font-family: "Ubuntu";
  font-weight: 400;
  color: var(--main-title-color);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 50px;
}

.maybe-like-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.maybe-like-photo{
  margin-bottom: 25px;
}

.maybe-like-wrapper-text{
  font-family: var(--font-playfair);
  font-size: 20px;
  color: var(--main-text-color);
  line-height: 1.2;
  position: absolute;
  height: 20px;
}

.comments{
  margin-bottom: 140px;
}

.comments-title{
  font-size: 14px;
  font-family: "Ubuntu";
  font-weight: 400;
  color: var(--main-title-color);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 50px;
}

.comment-wrapper{
  display: flex;
}

.comment-avatar-wrapper{
  width: 140px;
  height: 140px;
  /* margin-right: 50px; */
}

.comment-name{
  font-family: var(--font-playfair);
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  color: var(--main-text-color);
}

.comment-avatar-wrapper-notphoto{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--avatar-color);
  margin-right: 45px;
}

.comment-avatar-text{
  padding: 10px;
  font-size: 34px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--primary-white-color);
}

.comment-text{
  font-family: var(--font-playfair);
  color: var(--main-text-color);
  margin-bottom: 15px;
}

.comment-name{
  margin-bottom: 10px;
}

.comment-aftertext {
  font-size: 14px;
  font-family: "Ubuntu";
  font-weight: 400;
  color: var(--main-title-color);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 50px;
}

.comment-form{
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 30px;
}

.comment-form-label{
  text-transform: uppercase;
  color: var(--main-text-color);
}

.comment-form-input{
  text-transform: uppercase;
  color: var(--main-text-color);
  padding-left: 30px;
  display: block;
  width: 100%;
  height: 70px;
  border-width: 1px;
  border-color: #c8c8c8;
  border-style: solid;
  border-radius: 5px;
}

.comment-avatar-wrapper-notphoto-form{
  
  border-radius: 50%;
  width: 73px;
  height: 70px;
  background-color: var(--accent-color);
  margin-right: 45px;
}

.comment-social-wrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.comment-social-list{
  display: flex;
}

.connected{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
}
.comment-social-item{
  margin-left: 15px;
}
